
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"), url("../fonts/gilroylight-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"), url("../fonts/gilroyextrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: rgb(70, 70, 70);
  font-weight: 300;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.title-main,
.title-secondary {
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 800;
  line-height: 1.2;
}
.main-header-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
}
.site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.device-catalog-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: rgb(0, 0, 0);
  font-weight: 300;
  text-transform: inherit;
  letter-spacing: normal;
}
.item-intro {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
}
.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  line-height: 1.2;
}
.slider-content b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  line-height: 1.2;
}
.item-intro span {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  color: rgb(70, 70, 70);
  font-weight: 300;
}
.catalog-list-item a,
.partner-short li,
.contact-us label,
.catalog-product p {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  line-height: 1.2;
}
.select {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.catalog-product b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: rgb(70, 70, 70);
  font-weight: 300;
}
a {
  text-decoration: none;
  color: rgb(70, 70, 70);
}

a.pale-direct:hover,
.header-search:hover label,
a.breadcrumbs-navigation:hover,
.pale-inverse {
  opacity: 0.6;
}

a.pale-direct:active,
.header-search label,
a.breadcrumbs-navigation,
a.pale-inverse:active {
  opacity: 0.3;
}

.header-search:focus,
.pale-inverse:hover {
  opacity: 1;
}

a.breadcrumbs-navigation:active,
.current {
  opacity: 0.1;
}


.search-btn {
  width: 85px;
  height: 49px;
  border: solid 1px #000000;
  background-color: #f7e296;
}

.search-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-btn:active {
  color: #2e2e2e;
  background-color: #000000;
}

li {
  list-style: none;
}

.title-main {
  font-size: 48px;
}

.title-secondary {
  font-size: 47px;
}

.visually-hidden {
    position: absolute !important;
  	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  	clip: rect(1px, 1px, 1px, 1px);
  	padding:0 !important;
  	border:0 !important;
  	height: 1px !important;
  	width: 1px !important;
  	overflow: hidden;
}

.filter fieldset {
  border: none;
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: .612em 1em;
  font: 800 18px/1 "Gilroy", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0;
  left: 0;
  height: 8px;
  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: height .2s linear;
}

.btn:hover::after {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, .3);
  outline: none;
}

.btn-slider {
  min-width: 220px;
}

.btn-about-us, .btn-contacts {
  min-width: 260px;
}

.btn-catalog-product {
  min-width: 200px;
}

.btn-option {
  min-width: 160px;
}

.btn-option:active {
  color: #f7e184;
  opacity: 1;
}

.btn-option:active::after {
  width: 278px;
  height: 40px;
  background-color: #000000;
}

.icon {
  width: 160px;
  height: 160px;
}
.icon-1 {
  background: #f7e296 url("../img/popular-1.min.svg") no-repeat 50% 50%;
}

.icon-2 {
  background: #f7e296 url("../img/popular-2.min.svg") no-repeat 50% bottom;
}
.icon-3 {
  background: #f7e296 url("../img/popular-3.min.svg") no-repeat 50% 50%;
}
.icon-4 {
  background: #f7e296 url("../img/popular-4.min.svg") no-repeat 50% 50%;
}
.icon-5 {
  background: #f7e296 url("../img/popular-5.min.svg") no-repeat 50% 50%;
}
.icon-6 {
  background: #f7e296 url("../img/popular-6.min.svg") no-repeat 50% 50%;
}
.catalog-list-item a:hover .icon {
  background-color: rgba(240, 197, 46, 1);
}
.catalog-list-item a:active .icon {
  opacity: 0.3;
}

.partner-list img {
  opacity: 0.2;
  filter: grayscale(1);
}

.partner-list img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.about-us .btn-line::after {
  content: "Подробнее о нас";
  left: 15px;
}

.about-us .btn-line::before {
  width: 260px;
}

.contacts .btn-line::after {
  content: "Напишите нам";
  left: 15px;
}

.about-us .btn-line::before {
  width: 260px;
}

.contact-us .contact-us-input {
  width: 360px;
  height: 50px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
}

.contact-us .contact-us-input:hover {
  color: rgba(70, 70, 70, 0.4);
  background-color: #eaeaea;
}
.contact-us .contact-us-input:focus:valid {
  color: #000000;
  background-color: #ffffff;
  outline: solid 3px #f7e296;
}
.contact-us .contact-us-input:invalid{
background-color: #f6dada;
}

.main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.main-footer::after {
  content: "";
  position: absolute;
  top: -60px;
  left: -140px;
  width: 1440px;
  height: 323px;
  background-color: #464646;
  z-index: -1;
}

.main-footer .main-header-logo {
  color: #ffc600;
}
.main-footer a {
  color: #ffffff;
}
p.footer-copyright {
  margin: 0;
}
.results {
  opacity: 0.3;
  border: none;
  background-color: transparent;
}

.results:hover {
  opacity: 0.6;
}

.results:active {
  opacity: 1;
}

.filter-results-item {
  display: inline;
}

.catalog-product-image {
  width: 360px;
  height: 380px;
  background-color: #eeeeee;
}

.pagination-wrapper {
  width: 760px;
  background-color: #ebebeb;
}

.pagination-wrapper li {
  display: inline;
}

.pagination-button {
  width: 126px;
  height: 70px;
  background-color: transparent;
}

.pagination-button:hover, .pagination-button:active {
  background-color: #d9d9d9;
}

.pagination-button:active a {
  opacity: 0.3;
}

.container {
  width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid red;
}

.main-navigation {
  position: relative;
  width: 1160px;
  min-height: 190px;
  margin: 8px auto 20px;;
}
.main-header-logo-wrapper {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  outline: dashed 1px green;
}
.main-header-action-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  outline: dashed 1px red;
}
.site-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  outline: dashed 1px blue;
}

.user-navigation,
.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
}
.user-navigation li {
  box-sizing: border-box;
  padding-left: 40px;
  min-width: 120px;
  min-height: 60px;
  margin: auto;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  position: relative;
  display: flex;
  }
  .slider-item::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    background: #f7e296;
}
  .slider-item img {
    display: block;
    margin-left: 90px;
    margin-right: 106px;
  }

.slider-content {
  position: relative;
  width: 580px;
  padding-top: 125px;
}

  .slider-content::before {
    content: "01";
    position: absolute;
    top: -113px;
    right: 50px;
    color: #fff;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 800;
  }
   .slider-content::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    width: 100px;
    height: 8px;
    background-color: #fff;
  }
.items {
  display: flex;
}
.catalog-list {
  display: flex;
  justify-content: space-between;
  outline:solid 2px green;
}
.catalog-list-item {
margin: 0;
width: 160px;
}
.features {
  position: relative;
  display: flex;
  margin-bottom: 200px;
  outline: dashed 1px yellow;
}
.features::after {
  content: "";
  position: absolute;
  top: 100px;
  left: -140px;
  width: 1440px;
  height: 288px;
  background-color: #e5e5e5;
  z-index: -2;
}
.option-list-wrapper {
margin: 0 auto 0 0;
padding: 80px 80px 0 0;
outline: dashed 1px green;
}
.option-list {
  margin: 0;
  padding: 0;

}
.option-info {
  margin: 0 0 0 auto;
  padding: 40px 295px 0 145px;
  outline: dashed 1px green;
}
.delivery {
  background-image: url("../img/svg-device/delivery.svg");
  background-repeat: no-repeat;
  background-position: 93% 85%;
}
.parnership {
  display: flex;
  justify-content: space-between;
  outline: dashed 1px blue;
}
.about-us-contact-wrapper {
  display: flex;
  justify-content: space-between;
}
.about-us {
  display: inline;
  margin: 0;
  padding: 60px 110px 100px 0;
  width: auto;
  text-align: left;
  outline: dashed 1px green;
}
.partner-short {
  margin: 80px 0 40px 0;
  padding-left: 20px;
}
.contacts-map {
  margin: 0 0 40px 0;
}
.partner-short li{
  list-style-type: circle;
}
.contacts {
  display: inline;
  margin: 0;
  padding: 60px 10px 100px 10px;
  width: auto;
  text-align: left;
  outline: dashed 1px pink;
}

.footer-top-wrapper {
  display: flex;
  outline: dashed 1px yellow;
}

.footer-middle-wrapper {
  display: flex;
  outline: dashed 1px green;
}
.footer-bottom-wrapper {
display: flex;
outline: dashed 1px pink;
}
.footer-social {
  outline: dashed 1px white;
}
.main-footer ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.title-wrapper {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
  outline: dashed 1px red;
}
.breadcrumbs li {
  display: inline;
}
.content-wrapper {
  display: flex;
  margin: 0 0 60px 0;
  padding: 0;
}
.product-filter {
  width: 330px;
  min-height: 1283px;
  outline: solid 2px pink;
}
.filter-caption-wrapper {
  position: relative;
  width: 470px;
  min-height: 70px;
}
.filter-caption-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -140px;
  width: 1440px;
  height: 70px;
  background-color: rgba(220,220,220,0.5);
  z-index: -1;
}
.filter-caption-wrapper::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -140px;
  width: 468px;
  height: 1283px;
  background-color: rgba(220,220,220,0.5);
  z-index: -1;
}
.product-select {
  display: flex;
  flex-direction: column;
  width: 835px;
  min-height: 1283px;
  outline: 2px solid green;
}
.results-wrapper {
  display: flex;
  margin-bottom: 70px;
  width: 835px;
  height: 70px;
}
.results-wrapper span,
.results-wrapper ul {
  display: inline;
  box-sizing: border-box;

}
.catalog-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  min-height: 900px;
  padding-left: 30px;
  outline: dashed 1px blue;
}
.catalog-product {
  margin-left: 40px;
  height: 500px;
}
.pagination-list  {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.pagination-list li {
  box-sizing: border-box;
  height: 70px;
}

.main-navigation::after {
  content: "";
  position: absolute;
  top: 27px;
  width: 1160px;
  height: 186px;
  background-color: #f7e296;
  z-index: -1;
}
 .user-navigation li{
  position: relative;
}
.header-search::before {
position: absolute;
  content: "";
   top: 7px;
   left: 5px;;
   width: 20px;
   height: 20px;
   background-image: url("../img/svg-device/search.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}
