body {
  font-size: 15px;
  line-height: 2;
   color: rgb(70, 70, 70);
  font-weight: normal;
  font-family: Open Sans, Arial, sans-serif;
}

.page-title {
  font-size: 47px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}

.contacts-title,
.about-us-title {
  font-size: 21px;
  font-family: "Gilroy",Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}
