html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: rgb(70, 70, 70);
  font-weight: 300;
}

.title-main,
.title-secondary {
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.2;
}

.main-header-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.device-catalog-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: rgb(0, 0, 0);
  font-weight: 300;
  text-transform: inherit;
  letter-spacing: normal;
}

.item-intro b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.2;
}

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.2;
}

.slider-features-item b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  line-height: 1.2;
}

.slider-features-item span {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  color: rgb(70, 70, 70);
  font-weight: 300;
}

.catalog-list-item a,
.partner-short li,
.contact-us label,
.catalog-product p {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.2;
}

.select {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-product b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: rgb(70, 70, 70);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: rgb(70, 70, 70);
}

a.pale-direct:hover,
.header-search:hover label,
a.breadcrumbs-navigation:hover,
.pale-inverse {
  opacity: 0.6;
}

a.pale-direct:active,
.header-search label,
a.breadcrumbs-navigation,
a.pale-inverse:active {
  opacity: 0.3;
}

.header-search:focus,
.pale-inverse:hover {
  opacity: 1;
}

a.breadcrumbs-navigation:active,
.current {
  opacity: 0.1;
}


.search-btn {
  width: 85px;
  height: 49px;
  border: solid 1px #000000;
  background-color: #f7e296;
}

.search-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-btn:active {
  color: #2e2e2e;
  background-color: #000000;
}

li {
  list-style: none;
}

.title-main {
  font-size: 48px;
}

.title-secondary {
  font-size: 21px;
}

.visually-hidden {
    position: absolute !important;
  	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  	clip: rect(1px, 1px, 1px, 1px);
  	padding:0 !important;
  	border:0 !important;
  	height: 1px !important;
  	width: 1px !important;
  	overflow: hidden;
}

.filter fieldset {
  border: none;
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: .612em 1em;
  font: 700 18px/1 "Gilroy", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  text-decoration: none;
  color: inherit;
  text-align: cpale-direct;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0;
  left: 0;
  height: 8px;
  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: height .2s linear;
}

.btn:hover::after {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, .3);
  outline: none;
}

.btn-slider {
  min-width: 220px;
}

.btn-about-us, .btn-contacts {
  min-width: 260px;
}

.btn-catalog-product {
  min-width: 200px;
}

.btn-option {
  min-width: 160px;
}

.btn-option:active {
  color: #f7e184;
  opacity: 1;
}

.btn-option:active::after {
  width: 278px;
  height: 40px;
  background-color: #000000;
}

.icon {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.catalog-list-item:nth-child(1) .icon {
  background-image: url(../img/popular-1.min.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.catalog-list-item:nth-child(2) .icon {
  background-image: url(../img/popular-2.min.svg);
  background-repeat: no-repeat;
  background-position: 50% bottom;
}
.catalog-list-item:nth-child(3) .icon {
  background-image: url(../img/popular-3.min.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.catalog-list-item:nth-child(4) .icon {
  background-image: url(../img/popular-4.min.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.catalog-list-item:nth-child(5) .icon {
  background-image: url(../img/popular-5.min.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.catalog-list-item:nth-child(6) .icon {
  background-image: url(../img/popular-6.min.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.catalog-list-item a:hover .icon {
  background-color: rgba(240, 197, 46, 1);
}

.catalog-list-item a:active,
.catalog-list-item a:active .icon {
  opacity: 0.3;
}
.partner-list img {
  opacity: 0.2;
  filter: grayscale(1);
}

.partner-list img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.about-us .btn-line::after {
  content: "Подробнее о нас";
  left: 15px;
}

.about-us .btn-line::before {
  width: 260px;
}

.contacts .btn-line::after {
  content: "Напишите нам";
  left: 15px;
}

.about-us .btn-line::before {
  width: 260px;
}

.contact-us .contact-us-input {
  width: 360px;
  height: 50px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
}

.contact-us .contact-us-input:hover {
  color: rgba(70, 70, 70, 0.4);
  background-color: #eaeaea;
}
.contact-us .contact-us-input:focus:valid {
  color: #000000;
  background-color: #ffffff;
  outline: solid 3px #f7e296;
}
.contact-us .contact-us-input:invalid{
background-color: #f6dada;
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.main-footer .main-header-logo {
  color: #ffc600;
}

.main-footer a {
  color: #ffffff;
}
p.footer-copyright {
  margin: 0;
}
.filter-caption-wrapper {
  width: 440px;
  background-color: #dcdcdc;
}

.filter-wrapper {
  width: 440px;
  background-color: #ebebeb;
}

.results {
  opacity: 0.3;
  border: none;
  background-color: transparent;
}

.results:hover {
  opacity: 0.6;
}

.results:active {
  opacity: 1;
}

.results-wrapper {
  width: 975px;
  background-color: #ebebeb;
}

.filter-results-item {
  display: inline;
}

.catalog-product-image {
  width: 360px;
  height: 380px;
  background-color: #eeeeee;
}

.pagination-wrapper {
  width: 760px;
  background-color: #ebebeb;
}

.pagination-wrapper li {
  display: inline;
}

.pagination-button {
  width: 126px;
  height: 70px;
  background-color: transparent;
}

.pagination-button:hover, .pagination-button:active {
  background-color: #d9d9d9;
}

.pagination-button:active a {
  opacity: 0.3;
}

@font-face {
  font-family: "gilroylight";
  src: url("fonts/gilroylight-webfont.woff2") format("woff2"), url("fonts/gilroylight-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "open_sanslight";
  src: url("fonts/opensans-light-webfont.woff2") format("woff2"), url("fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "gilroyextrabold";
  src: url("fonts/gilroyextrabold-webfont.woff2") format("woff2"), url("fonts/gilroyextrabold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
