
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"), url("../fonts/gilroylight-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"), url("../fonts/gilroyextrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  color: rgba(0,0,0,1);
  font-weight: 300;
}
*, *::before, *::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

.title-main,
.title-secondary {
  font-family: "Gilroy", Arial, sans-serif;
  color:  rgba(0,0,0,1);
  font-weight: 800;
  line-height: 1.2;
}
.main-header-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  color:  rgba(0,0,0,1);
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
}
.site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color:  rgba(0,0,0,1);
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.device-catalog-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  color:  rgba(0,0,0,1);
  font-weight: 300;
  text-transform: inherit;
  letter-spacing: normal;
}
.item-intro {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  color:  rgba(0,0,0,1);
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
}
.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color:  rgba(0,0,0,1);
  font-weight: 800;
  line-height: 1.2;
}
.slider-content b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  color:  rgba(0,0,0,1);
  font-weight: 800;
  line-height: 1.2;
}
.item-intro span {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  color:  rgba(0,0,0,1);
  font-weight: 300;
}
.slider-content .data {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  color:  rgba(0,0,0,1);
  font-weight: 400;
  line-height: 1;
}


.catalog-list-item a,
.partner-short li,
.contact-us label,
.catalog-product p {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color:  rgba(0,0,0,1);
  font-weight: 800;
  line-height: 1.2;
}
.select {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color:  rgba(0,0,0,1);
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
  min-height: 70px;
  line-height: 60px;
  background-color: rgba(220,220,220,0.5);
}
.select-title-sort {
  padding-left: 70px;
  padding-top: 5px;
}
.select-title-filter {
  padding-top: 5px;
  padding-left: 60px;
}
.select-title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 0;
  border-left: 9999px solid rgba(220,220,220,0.5);
  box-shadow: 9999px 0 0 rgba(220,220,220,0.5);
}
.catalog-product b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color:  rgba(0,0,0,1);
  font-weight: 300;
}
a {
  text-decoration: none;
  color: rgba(0,0,0,1);
}

a.pale-direct:hover,
.header-search:hover label,
.pale-inverse {
  opacity: 0.6;
}

a.pale-direct:active,
.header-search label,
a.pale-inverse:active {
  opacity: 0.3;
}

.header-search:focus,
.pale-inverse:hover {
  opacity: 1;
}

a.breadcrumbs-navigation {
  opacity: 0.6;
}
a.breadcrumbs-navigation:hover {
  opacity: 1;
}
a.breadcrumbs-navigation:active,
.current {
  opacity: 0.3;
}


li {
  list-style: none;
}

h1.title-main {
  font-size: 48px;
  margin: 0;
}

.title-secondary {
  font-size: 47px;
}

.visually-hidden {
    position: absolute !important;
  	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  	clip: rect(1px, 1px, 1px, 1px);
  	padding:0 !important;
  	border:0 !important;
  	height: 1px !important;
  	width: 1px !important;
  	overflow: hidden;
}
/*.select-title {

}*/
.filter fieldset {
  position: relative;
  border: none;
  margin-left: 60px;
  margin-right: 65px;
  padding: 0;
    /*outline: dashed green;*/
}
.filter legend {
  padding-top: 10px;
}
.filter .filter-result {
  margin-right: 0;
}

.range-filter {
  position: relative;
  margin-top: 70px;
}
.range-filter::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 200px;
  height: 1px;
  background-color: rgba(0,0,0,1);
}
.check {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 280px;
}
.check::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: rgba(0,0,0,1);
}
.radio {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 150px;
}
.radio::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: rgba(0,0,0,1);
}
.check input:hover,
.radio input:hover {
opacity: 0.6;
}
.check label,
.radio label {
  position: relative;
  box-sizing: border-box;
  margin-left: 35px;
}

.check label::before {
  content: "" ;
  position: absolute;
  top: -5px;
  left: -40px;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background: transparent;
  background-image: url("../img/svg-device/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 93% 85%;
}

.check input[checked] + label::before {
  left: -35px;
  background-image: url("../img/svg-device/checkbox-on.svg");
}
.check input:hover + label::before,
.radio input:hover + label::before {
  opacity: 0.6;
}
.radio label::before {
  content: "" ;
  position: absolute;
  top: -5px;
  left: -40px;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background: transparent;
  background-image: url("../img/svg-device/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 93% 85%;
}
.radio input:active,
.radio input[checked] + label::before {
  background-image: url("../img/svg-device/radio-on.svg");
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: .612em 1em;
  font: 800 18px/1 "Gilroy", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0;
  left: 0;
  height: 8px;
  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: height .2s linear;
}

.btn:hover::after {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, .3);
  outline: none;
}

.btn-slider {
  min-width: 220px;
}

.btn-about-us, .btn-contacts {
  min-width: 260px;
  margin-top: 20px;
}

.btn-catalog-product {
  min-width: 200px;
  margin-bottom: 10px;
}

.btn-option {
  box-sizing: border-box;
  min-width: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-option:active {
  color: #f7e184;
  opacity: 1;
}

.btn-option:active::after {
  width: 278px;
  height: 40px;
  background-color:  rgba(0,0,0,1);
}

.btn-filter {
  min-width: 200px;
  z-index: 1;
}

.icon {
  width: 160px;
  height: 160px;
}
.icon-1 {
  background: #f7e296 url("../img/popular-1.min.svg") no-repeat 50% 50%;
}

.icon-2 {
  background: #f7e296 url("../img/popular-2.min.svg") no-repeat 50% bottom;
}
.icon-3 {
  background: #f7e296 url("../img/popular-3.min.svg") no-repeat 50% 50%;
}
.icon-4 {
  background: #f7e296 url("../img/popular-4.min.svg") no-repeat 50% 50%;
}
.icon-5 {
  background: #f7e296 url("../img/popular-5.min.svg") no-repeat 50% 50%;
}
.icon-6 {
  background: #f7e296 url("../img/popular-6.min.svg") no-repeat 50% 50%;
}
.catalog-list-item a:hover .icon {
  background-color: rgba(240, 197, 46, 1);
}
.catalog-list-item a:active .icon {
  opacity: 0.3;
}

.partner-list img {
  opacity: 0.2;
  filter: grayscale(1);
}

.partner-list img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.about-us .btn-line::after {
  content: "Подробнее о нас";
  left: 15px;
}

.about-us .btn-line::before {
  width: 260px;
}

.contacts .btn-line::after {
  content: "Напишите нам";
  left: 15px;
}

.about-us .btn-line::before {
  width: 260px;
}
.modal {
  display:none;
  position: fixed;
  top: 180px;
  left: 50%;
  z-index: 1;
}
.contact-us {
  flex-direction: column;
  width: 960px;
  height: 560px;
  margin-left: -485px;
  padding: 80px 100px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.modal-form-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal-map {
  width: 994px;
  height: 593px;
  margin-left: -470px;
  background-image: url("../img/map-big994x593.jpg");
  background-color: transparent;
}
.contact-us .contact-us-input,
.contact-us .contact-us-text {
  box-sizing: border-box;
  padding-left: 15px;
  color: rgba(0,0,0,0.4);
  background-color: #f2f2f2;
  outline: transparent;
}
.contact-us .contact-us-input {
  width: 360px;
  height: 50px;
  margin-bottom: 40px;
}
.contact-us .contact-us-text {
  width: 760px;
  height: 160px;
  margin-bottom: 40px;
}

.contact-us .contact-us-input:hover,
.contact-us .contact-us-text:hover {
  color: rgba(0,0,0,0.4);
  background-color: #eaeaea;
}
.contact-us .contact-us-input:focus:valid,
.contact-us .contact-us-text:focus:valid {
  color: rgba(0,0,0,1);
  background-color: #ffffff;
  border: solid 3px #f7e296;
}
.contact-us .contact-us-input:invalid{
background-color: #f6dada;
}
  .modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-image: url("../img/svg-device/modal-close.svg");
  background-color: transparent;
  border: 0;
  opacity: 0.5;
  outline: transparent;
  z-index: 2;
}
.modal-map .modal-close {
  top: 25px;
  left: 900px;
}
.contact-us .modal-close {
  top: 20px;
  left: 885px;
}
.modal-login .modal-close {
  top: 15px;
  left: 225px;
}
.modal-close:hover {
  opacity: 1;
}
.modal-close:active {
  opacity: 0.3;

}

.main-footer {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #464646;
}
.main-footer .main-header-logo {

  color: #ffc600;
}
.footer-social::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -550px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}
.main-footer a {
  color: #ffffff;
}
p.footer-copyright {
  margin-top: 30px;
  margin-right: 0;
}

.results {
  opacity: 0.3;
  border: none;
  background-color: transparent;
}

.results:hover {
  opacity: 0.6;
}

.results:active {
  opacity: 1;
}
.filter-results-list {
display: flex;
justify-content: flex-start;
}

.results-wrapper {
  display: flex;
  margin-bottom: 60px;
  width: 835px;
  height: 70px;
}

.sort-buttons {
  display: flex;
  margin-left: 120px;
}

.filter-results-item {
display: flex;
margin-right: 30px;
}
.sort-buttons-item {
  display: flex;
}
.catalog-product-image {
  width: 360px;
  height: 380px;
  background-color: #eeeeee;
}

.catalog-product-image mark {
  position: absolute;
  top: 10px;
  right:10px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  background-color: red;
}
.catalog-product-image-add {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 50px 80px 0 80px;
  width: 360px;
  height: 380px;
  text-align: center;
  background-color: rgba(238,238,238,0.7);
  z-index: 1;
}

.catalog-product-btn {
  border: none;
  outline: none;
  background: none;
}

.catalog-product-btn:hover  + .catalog-product-image-add {
  display: flex;
}
.discr {
  font-size: 0;
}
.discr p {
  display: inline-block;
  font-size: 18px;
}
.discr .name {
  width: 70%;
}
.discr .price {
  width: 30%;
  text-align: right;
  vertical-align: top;
}
.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  width: 760px;
  background-color: #ebebeb;
}

.pagination-wrapper li {
  display: flex;
}

.pagination-button {
  width: 126px;
  height: 70px;
  padding-top: 5px;
  text-align: center;
  background-color: transparent;
}
.pagination-item a{
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 20px 0;
}

 .pagination-button-next:hover,
 .pagination-button-next:active {
  background-color: #d9d9d9;
}
.pagination-button-next:active {
  opacity: 0.3;
}
.pagination-item a {
  background-color: #ebebeb;
}
.container,
.container-features {
  width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  /*outline: 2px solid red;*/
}
.container-features {
  display: flex;
}
.main-navigation {
  position: relative;
  width: 1160px;
  min-height: 190px;
  margin: 8px auto 20px;
}
.main-header-logo-wrapper {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
}
.main-header-action-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
}
.site-navigation-wrapper {
  display: flex;
  justify-content: centern;
  margin-left: 60px;
  margin-right: 60px;
}

.user-navigation,
.site-navigation,
.footer-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
.user-navigation li {
flex-basis: 12%;
padding-left: 35px;
}
.user-navigation li:first-child {
  flex-grow: 2;
}
.user-navigation li:nth-child(2) {
  flex-grow: 1;
  display: flex;
}
.user a,
.user span {
  padding: 10px 0 10px 30px;
}
.compare a,
.cart a {
  display: inline-block;
  padding: 10px 0 10px 30px;
}

.site-navigation li:nth-child(2) {
margin-right: 35px;
}
.site-navigation li:first-child {
  width: 50%;
}
.site-navigation li:last-child {
  margin-left: auto;
}

.site-navigation a {
  display: inline-block;
  margin-left: auto;
  padding: 20px 0 10px 0px;
}
.device-catalog-list {
  display: none;
  position: absolute;
  flex-wrap: wrap;
  width: 550px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 3;
}

.device-catalog-list::before {
  content: "";
  position: absolute;
  top: 40px;
  left: -60px;
  width: 1160px;
  height: 160px;
  background: #f7e296;
  z-index: -1;
}
.device-catalog-list li {
  box-sizing: border-box;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.device-catalog-list a {
  margin: 0;
  padding: 0;
}
.device-catalog-list li:first-child,
.device-catalog-list li:nth-child(4n) {
  flex-basis: 42%;
}

.device-catalog-list li:nth-child(3n - 1) {
  margin-right: auto;
  margin-left: 0;
}
.device-catalog-list li:last-child {
  flex-basis: 100%;
}
.device-catalog-list a {
  white-space: nowrap;
}
.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  position: relative;
  display: flex;
  }
  .slider-item::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    background: #f7e296;
}
  .slider-item img {
    display: block;
    margin-left: 90px;
    margin-right: 106px;
  }

a.nav-catalog:hover + .device-catalog-list
 {
  /*z-index: 1;*/
  display: flex;
}

.slider-content {
  position: relative;
  width: 580px;
  padding-top: 125px;
}

  .slider-content::before {
    content: "";
    position: absolute;
    top: -113px;
    right: 50px;
    color: #ffffff;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 800;
  }
  .mono::before {
    content: "01";
  }
  .fit::before {
    content: "02";
  }
  .quad::before {
    content: "03";
  }

   .slider-content::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    width: 100px;
    height: 8px;
    background-color: #ffffff;
  }
.items {
  display: flex;
  margin-bottom: 100px;
}
.catalog-list {
  display: flex;
  justify-content: space-between;
  /*outline:solid 2px green;*/
}
.catalog-list-item {
margin: 0;
width: 160px;
}
.features {
  position: relative;
  display: flex;
  min-width: 1200px;
  margin-top: 70px;
  margin-bottom: 200px;
  /*outline: dashed 1px yellow;*/
}
.features::after {
  content: "";
  position: absolute;
  display: block;
  top: 110px;
  width: 100%;
  height: 288px;
  background-color: #e5e5e5;
  z-index: -2;
}

.option-list-wrapper {
margin: 0 auto 0 0;
padding: 80px 80px 0 0;
/*outline: dashed 1px green;*/
}
.option-list {
  position: relative;
  margin: 0;
  padding: 0;

}
.option-list::after {
  content: "";
  position: absolute;
  display: block;
  top: -60px;
  left: 275px;
  width: 7px;
  height: 319px;
  background-color: rgba(0,0,0,1);
}

.option-info {
  margin: 0 0 0 auto;
  padding: 40px 295px 0 145px;
  /*outline: dashed 1px green;*/
}
.delivery {
  background-image: url("../img/svg-device/delivery.svg");
  background-repeat: no-repeat;
  background-position: 93% 85%;
}
.warranty {
  background-image: url("../img/svg-device/warranty.svg");
  background-repeat: no-repeat;
  background-position: 93% 85%;
}
.credit {
  background-image: url("../img/svg-device/credit.svg");
  background-repeat: no-repeat;
  background-position: 93% 85%;
}

.parnership {
  display: flex;
  justify-content: space-between;
  /*outline: dashed 1px blue;*/
  margin-bottom: 70px;
}
.about-us-contact-wrapper {
  display: flex;
  justify-content: space-between;
}
.about-us {
  display: inline;
  margin: 0;
  padding: 60px 110px 80px 0;
  width: auto;
  text-align: left;
  /*outline: dashed 1px green;*/
}

.about-us-contact-wrapper .title-secondary {
  position: relative;
}
.about-us-contact-wrapper .title-secondary::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: rgba(0,0,0,1);
}
.about-us-contact-wrapper p {
  margin-bottom: 41px;
}
.partner-short {
  margin: 60px 0 40px 0;
  padding-left: 45px;
}
.contacts-map {
  margin: 50px 0;
}
.partner-short li{
  position: relative;
  margin-top:20px;
}
.partner-short li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -40px;
  width: 8px;
  height: 8px;
  border: solid 1px rgba(0,0,0,1);
  border-radius: 50%;
  opacity: 0.3;
}

.contacts {
  position: relative;
  display: inline;
  margin: 0;
  padding: 60px 10px 80px 10px;
  width: auto;
  text-align: left;
  /*outline: dashed 1px pink;*/
}

.footer-top-wrapper {
  display: flex;

  /*outline: dashed 1px yellow;*/

}

.footer-middle-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /*outline: dashed 1px green;*/
}
.footer-site-navigation {
  display: flex;
  width:40%;
  justify-content: space-between;
}
.footer-site-navigation li {

}

.footer-bottom-wrapper {
display: flex;
/*justify-content: space-between;*/
/*outline: dashed 1px pink;*/
}
.footer-social {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 30px 350px 60px auto;
}
.footer-social ul {
  display: flex;
  justify-content: space-between;
  /*outline: dashed 1px white;*/
  width: 160px;
}

.main-footer ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.title-wrapper {
  width: 1040px;
  margin: 60px auto;
  padding: 0 60px 0 0;
  /*outline: dashed 1px red;*/
}

.breadcrumbs {
  width: 100%;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
  box-sizing: border-box;
}
.breadcrumbs li {
  padding-right: 20px;
  margin-right: 20px;
  background-image: url("../img/svg-device/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 50%;
}
.breadcrumbs li:last-child {
  background-image: none;
}
.content-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  /*outline:solid red;*/
}
.product-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 330px;
  background-color: rgba(220,220,220,0.5);
  /*outline:solid yellow;*/
}

.product-filter::before {
  content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -9999px;
      right: 0;
      border-left: 9999px solid rgba(220,220,220,0.5);
      z-index: -2;
 }

.product-select {
  display: flex;
  flex-direction: column;
  width: 835px;
  min-height: 1283px;
}

.range-controls {
  position: relative;
  min-height: 41px;
  padding-top: 30px;
  margin-bottom: 15px;
  background: transparent;
}
.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}
.range-controls .bar {
  width: 60%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 20px;
  height: 22px;
  cursor: pointer;
  background: transparent;
  background-image: url("../img/svg-device/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 93% 85%;

}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 14px;
  opacity: 0.6;
  display: inline-block;
}
.min-price {
  width: 40%;
}
.max-price {
  width: 60%;
}

.price-controls input {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  width: 60px;
  margin-left: 0px;
  padding: 8px 0;
  text-align: left;
  color: rgba(0,0,0,1);
  border: none;
  background: transparent;
  outline: none;
}

.catalog-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  min-height: 900px;
  padding-left: 30px;
  /*outline: dashed 1px blue;*/
}
.catalog-product {
  position: relative;
  margin-left: 40px;
  height: 500px;
}
.pagination-list  {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.pagination-list li {
  box-sizing: border-box;
  height: 70px;
}

.main-navigation::after {
  content: "";
  position: absolute;
  top: 27px;
  width: 1160px;
  height: 186px;
  background-color: #f7e296;
  z-index: -1;
}
 .user-navigation li{
  position: relative;
}

.header-search {
  box-sizing: border-box;
  color: rgba(0,0,0,1);
}
.text-search {
  position: relative;
  min-width: 290px;
  background: transparent;
  border: none;
}

.header-search::before {
   position: absolute;
   content: "";
   top: 15px;
   left: 5px;
   width: 20px;
   height: 20px;
   background-image: url("../img/svg-device/search.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}
.input-wrapper {
  visibility: hidden;
}
.search-btn {
  width: 85px;
  height: 49px;
  border: solid 2px rgba(0,0,0,1);
  background-color: #f7e296;
}
.text-search:focus + .input-wrapper {
  visibility: visible;
}
.text-search:focus {
  outline: none;
}
.input-wrapper::after {
  content: "";
  position: absolute;
  top: 47px;
  left: 0;
  width: 380px;
  height: 1px;
  border-bottom:solid 2px rgba(0,0,0,1);
}
.search-btn:hover {
  color: #ffffff;
  background-color: rgba(0,0,0,1);
}

.search-btn:active {
  color: #2e2e2e;
  background-color: rgba(0,0,0,1);
}
.user a,
.compare,
.cart,
.footer-user,
.footer-compare,
.footer-cart,
.nav-catalog-list {
  position: relative;
}
.user .profile::before {
  position: absolute;
    content: "";
     top: 20px;
     left: 40px;
     width: 20px;
     height: 20px;
     background-image: url("../img/svg-device/user.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
}
.compare::before {
  position: absolute;
    content: "";
     top: 20px;
     left: 45px;
     width: 20px;
     height: 20px;
     background-image: url("../img/svg-device/compare.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
}
.cart::before {
  position: absolute;
    content: "";
     top: 20px;
     left: 45px;
     width: 20px;
     height: 20px;
     background-image: url("../img/svg-device/cart.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
}

.footer-user::before {
  position: absolute;
    content: "";
     top: 5px;
     left: 10px;
     width: 20px;
     height: 20px;
     background-image: url("../img/svg-device/footer-user.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
}
.footer-compare::before {
  position: absolute;
    content: "";
     top: 5px;
     left: 10px;
     width: 20px;
     height: 20px;
     background-image: url("../img/svg-device/footer-compare.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
}
.footer-cart::before {
  position: absolute;
    content: "";
     top: 5px;
     left: 10px;
     width: 20px;
     height: 20px;
     background-image: url("../img/svg-device/footer-cart.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
}

.nav-catalog-list::after {
  position: absolute;
    content: "";
     top: 22px;
     left: 230px;
     width: 20px;
     height: 20px;
     background-image: url("../img/svg-device/plus.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     opacity: 0.3;
}

.slider-features {
  display: flex;
  margin: 0;
  padding: 0;
}
.slider-features li {
  margin-right: 50px;
}

.footer-navigation li {
  margin-top: 35px;
}
.footer-navigation li:first-child {
  width: 70%;
}
.footer-user,
.footer-compare {
  margin-right: 30px;
  padding-left: 35px;
}
.footer-cart {
  padding-left: 35px;
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}
